.topnavbar {
    background-color: gray;
    overflow: hidden;
}

.topnavbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.active {
    background-color: #f2f2f2;
    color: white;
}

.java {
    float: left;
    overflow: hidden;
}

.java .javabtn {
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.javacontent {
    display: none;
    position: absolute;
    background-color: #f3f3f3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.javacontent a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnavbar a:hover, .javacontent:hover .javabtn {
    background-color: #556;
    color: white;
}

.javacontent a:hover {
    background-color: #ddf;
    color: black;
}

.javacontent:hover .javacontent {
    display: block;
}

